---
- name: This is how we deploy our dockerize web app
  hosts: web
  tasks:
    - name: copying docker-compose
      become: true 
      copy:
        src: ../web/docker-compose.yml
        dest: /srv/app
        owner: root
        group: root        
        mode: 0644
    - name: copying service for systemd
      become: true 
      copy:
        src: ../web/web.service
        dest: /etc/systemd/system
        owner: root
        group: root        
        mode: 0644
    - name: Enable service web
      ansible.builtin.systemd:
        name: web
        enabled: yes
          # /etc/systemd/system/
    - name: Start service web 
      ansible.builtin.systemd:
        name: web
        state: started